In [1]:
from pandasql import sqldf
import pandas as pd

In [2]:
# Read the CSV file into a DataFrame
file_path = '../Data/Raw/participants.csv'
participants_df = pd.read_csv(file_path, header=0)

In [3]:
participants_df

,submission_id,participant_id,status,custom_study_tncs_accepted_at,started_at,completed_at,reviewed_at,archived_at,time_taken,completion_code,...,fluent_languages,age,sex,ethnicity_simplified,country_of_birth,country_of_residence,nationality,language,student_status,employment_status
0,6634f9452688daf4fe6a3bd5,5b5f15f2fc072a00017da73d,APPROVED,Not Applicable,2024-05-03T14:48:45.392000Z,2024-05-03T15:27:06.260000Z,2024-05-04T08:30:00.990000Z,2024-05-03T15:27:39.526876Z,2301.0,CPK51IOW,...,"English, Spanish",61,Female,White,United Kingdom,United Kingdom,United Kingdom,English,DATA_EXPIRED,DATA_EXPIRED
1,6634f967899d8183da60fa7c,5d59bbe3aaf28300163f7b86,RETURNED,Not Applicable,2024-05-03T14:49:30.083000Z,NaN,NaN,2024-05-04T08:47:10.607391Z,NaN,NaN,...,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED
2,6634f96972315a763cba67f7,5e87b28549538b0fdf96b318,APPROVED,Not Applicable,2024-05-03T14:49:13.842000Z,2024-05-03T15:39:11.728000Z,2024-05-04T08:30:27.044000Z,2024-05-03T15:40:13.881883Z,2998.0,CPK51IOW,...,"English, Portuguese",25,Female,White,Portugal,Sweden,Portugal,Portuguese,No,Part-Time
3,6634f97e6e202fd5d012a813,55898937fdf99b7ae47f5c7f,APPROVED,Not Applicable,2024-05-03T14:49:39.659000Z,2024-05-03T15:04:45.050000Z,2024-05-04T08:31:03.607000Z,2024-05-03T15:04:45.632159Z,906.0,CPK51IOW,...,English,33,Female,White,United Kingdom,United Kingdom,United Kingdom,English,DATA_EXPIRED,DATA_EXPIRED
4,6634f9879db32bb3ac9fd914,659866bb0eef780a15bfd5b2,APPROVED,Not Applicable,2024-05-03T14:58:31.820000Z,2024-05-03T15:33:03.741000Z,2024-05-04T08:41:09.324000Z,2024-05-03T15:33:04.458622Z,2072.0,CPK51IOW,...,"Dutch, English, German",40,Male,White,Germany,Netherlands,Germany,German,No,Full-Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,663dfd38d9149d1b9242c7ee,647ffbcfcf8adc8070bc2291,REJECTED,Not Applicable,2024-05-10T10:55:52.118000Z,2024-05-10T11:45:52.558000Z,2024-05-11T10:18:24.685000Z,2024-05-10T11:45:53.410000Z,3001.0,C1E7Y3R1,...,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED
384,663e04711d6d94c065c11bcc,64f3036a5b5f2feae0b1f51b,RETURNED,Not Applicable,2024-05-10T11:29:23.803000Z,NaN,NaN,NaN,NaN,NaN,...,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED
385,663e0a549350a2e95b951540,5d49d17b3dad1f0001e2aba1,RETURNED,Not Applicable,2024-05-10T11:51:48.620000Z,NaN,NaN,NaN,NaN,NaN,...,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED
386,663e0ca2bc13754154dba3f6,634688daf4776ef459edf673,TIMED-OUT,Not Applicable,2024-05-10T12:01:50.467000Z,NaN,NaN,NaN,426384.0,NaN,...,English,31,Male,Black,Nigeria,United Kingdom,Nigeria,English,Yes,Full-Time
387,663f5e2c73b8dcb3413327d1,60df600d4d82e048f751a54c,RETURNED,Not Applicable,2024-05-11T12:03:23.445000Z,NaN,NaN,NaN,NaN,NaN,...,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED,CONSENT_REVOKED

In [4]:
participants_df = sqldf('''
                        SELECT
                            DISTINCT participant_id,
                            time_taken,
                            fluent_languages AS fluent_in,
                            age,
                            sex,
                            ethnicity_simplified AS ethnicity,
                            country_of_birth,
                            country_of_residence,
                            nationality
                        FROM participants_df
                        WHERE status = 'APPROVED'
                        ''')

In [5]:
participants_df

,participant_id,time_taken,fluent_in,age,sex,ethnicity,country_of_birth,country_of_residence,nationality
0,5b5f15f2fc072a00017da73d,2301.0,"English, Spanish",61,Female,White,United Kingdom,United Kingdom,United Kingdom
1,5e87b28549538b0fdf96b318,2998.0,"English, Portuguese",25,Female,White,Portugal,Sweden,Portugal
2,55898937fdf99b7ae47f5c7f,906.0,English,33,Female,White,United Kingdom,United Kingdom,United Kingdom
3,659866bb0eef780a15bfd5b2,2072.0,"Dutch, English, German",40,Male,White,Germany,Netherlands,Germany
4,5c12521fbf739a0001cfeb03,1400.0,English,53,Female,White,United States,United States,United States
...,...,...,...,...,...,...,...,...,...
313,5e332dec41d1cd30b905bdfe,1562.0,English,35,Male,White,United Kingdom,United Kingdom,United Kingdom
314,577bfa3c9fecfe0001a5bcbf,1469.0,English,37,Female,White,United Kingdom,United Kingdom,United Kingdom
315,62c1f284b5ce5f4d8840ea7c,1584.0,"Afrikaans, English",60,Female,Black,Ghana,United Kingdom,United Kingdom
316,62a447d91e71bfacd2e8c006,2088.0,English,60,Female,White,United Kingdom,United Kingdom,United Kingdom
317,6539185ae1c6f8b919b85f12,21213.0,English,22,Female,White,Australia,Australia,Australia

In [6]:
# Save the processed data to a new CSV file
participants_df.to_csv('../Data/Processed/participants.csv', index=False)